build/
out/

#*.jar
*.class

.gradle/
*/.gradle/

.idea/
*/.idea/

.settings/
*/.settings/

target/
*/target/

.DS_Store
*/.DS_Store
*.cache
*.lock

.classpath
.project

*.iml
*/*.iml

*.log
*.log.*

